.card {
    margin-bottom: 15px;
    border-radius: 0;
}

.card-header {
    background: white;
    font-size:  14px;
}

.sidebar .nav-item .nav-link span {
    font-size:  12px;

}

.dropdown-item {
    font-size:  12px;
}

label {
    font-weight: bolder;
}